/* Styling for the visualgo.html */

.links {
    display: flex;
    height: 50em;
}

.links a:link {
    background-color: #413F42;
    color: #F9F3EE;
    text-decoration: none;
} 

.links a:hover {
    background-color: #7F8487;
    color: #F9F3EE;
    text-decoration: none;
}

/* Styling for sorting visualization algorithms */

.visualgo-link {
    display: flex;
    width: 30%;
    max-width: 250px;
    height: 50px;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #413F42;
    text-decoration: none;
    -webkit-transition: 1s;
    transition: 1s;
    color: #F9F3EE;
}

.idx {
    width: 28px;
    position: absolute;
    transition: 0.2s all ease;
}

.idx-id {
    position: absolute;
    color: black;
    margin-top: 1px;
    width: 100%;
    text-align: center;
}

#indices {
    height: 20px;
    width: 600px;
    margin: auto;
}

/* .head{

} */