{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <!-- Center of page -->
    <div class = "links">

        <!-- Create box links to link to sorting algorithm pages -->

            <a class="visualgo-link" href="{{ url_for('selectionSort') }}">
                <div>
                    Selection Sort
                </div>
            </a>


            <a class="visualgo-link" href="{{ url_for('bubbleSort') }}">
                <div>
                    Bubble Sort
                </div>
            </a>

            <a class="visualgo-link" href="{{ url_for('quickSort') }}">
                <div>
                    Quick Sort
                </div>
            </a>
    </div>
{% endblock %}